<!DOCTYPE html>
<html>
<head>
    <title>字典管理</title>
	<#include "/header.html">
	<style type="text/css">
		.grid-btn .form-group{
			padding-left: 0px;
		}
		.grid-btn .form-group:nth-child(1){
			padding-left: 15px;
		}
	
	</style>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="字典值">
            </div>
            <a class="btn btn-blue" @click="query">查询</a>
			<#if shiro.hasPermission("sys:dict:save")>
            <a class="btn btn-info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:dict:update")>
            <a class="btn btn-warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:dict:delete")>
            <a class="btn btn-danger" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
			 <a class="btn btn-default" @click="back"><i class="fa "></i>&nbsp;返回</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div id="addLayer" v-show="!showList" class="">
<!--         <div class="panel-heading">{{title}}</div> -->
        <form class="form-horizontal" style="width:600px">
        	<!-- <div class="form-group">
				<div class="col-sm-2 control-label">上级字典</div>
				<div class="col-sm-10">
					<select id="dictParent" v-select2="" v-model="dict.parentId" class="form-control" style="width: 100%" @change="changeParent">
						<option value="0">一级字典</option>
						<option v-for="item in dicts" :value="item.id" :data-item="JSON.stringify(item)">【{{item.name}}】 {{item.value}}</option>
					</select>
				</div>
			</div> -->
			<div class="form-group">
				<div class="col-sm-2 control-label">字典名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" readonly="readonly" v-model="dict.name"
						placeholder="字典名称" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">字典类型</div>
				<div class="col-sm-10">
					<input type="text" id="dictype" readonly="readonly"  class="form-control" v-model="dict.type"
						placeholder="字典类型" />
				</div>
			</div>
 			<div class="form-group"> 
 				<div class="col-sm-2 control-label">字典码code</div> 
 				<div class="col-sm-10"> 
 					<input type="text" class="form-control" v-model="dict.code" 
 						placeholder="字典码" /> 
 				</div> 
 			</div> 
			<div class="form-group">
				<div class="col-sm-2 control-label">字典值</div>
				<div class="col-sm-10">
					<textarea class="form-control" v-model="dict.value"
						placeholder="字典值" style="height: 80px"/></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">排序</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="dict.orderNum"
						placeholder="排序" />
				</div>
			</div>
<!-- 			<div class="form-group"> -->
<!-- 				<div class="col-sm-2 control-label">备注</div> -->
<!-- 				<div class="col-sm-10"> -->
<!-- 					<input type="text" class="form-control" v-model="dict.remark" -->
<!-- 						placeholder="备注" /> -->
<!-- 				</div> -->
<!-- 			</div> -->
<!-- 			<div class="form-group"> -->
<!-- 				<div class="col-sm-2 control-label"></div> -->
<!-- 				<input type="button" class="btn btn-primary" @click="saveOrUpdate" -->
<!-- 					value="确定" /> &nbsp;&nbsp;<input type="button" -->
<!-- 					class="btn btn-warning" @click="reload" value="返回" /> -->
<!-- 			</div> -->
		</form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/dictmanage.js?_${.now?long}"></script>
</body>
</html>