/**
    移动端公共样式
 */
[v-cloak] {
    display: none;
}

.no-padding{
    padding: 0px;
}

.no-margin{
    margin: 0px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.display-block{
    display: block;
}

.display-inblock{
    display: inline-block;
}

.white-bg{
    background: #fff;
}