<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/select2/select2.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/bootstrap/bootstrap-select.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="${request.contextPath}/statics/plugins/webuploader/css/dropzone.min.css">
<!-- 引入elementui样式 -->
<link rel="stylesheet" href="${request.contextPath}/statics/element/index.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">


<!--<script src="https://cdn.bootcss.com/babel-core/5.8.19/browser.min.js"></script>-->
<!--<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser-polyfill.min.js" ></script>-->
<!--<script src="https://unpkg.com/babel-standalone@6/babel.min.js" data-presets="es2015,stage-2"></script>-->


<!--<script src="https://unpkg.com/core-js-bundle@3.0.0-beta.8/index.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.2.5/polyfill.min.js"></script>-->

<!--<script src="${request.contextPath}/statics/js/browser.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/js/runtime.js"></script>-->
<!--<script src="https://cdn.polyfill.io/v2/polyfill.js"></script>-->

<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<script src="${request.contextPath}/statics/plugins/ystep/ystep.js"></script>
<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>
<!--<script src="${request.contextPath}/statics/plugins/layui/layui.js"></script>-->
<script src="${request.contextPath}/statics/plugins/moment/moment.min.js"></script>
<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="${request.contextPath}/statics/plugins/select2/select2.min.js"></script>
<script src="${request.contextPath}/statics/plugins/select2/i18n/zh-CN.js"></script>
<script src="${request.contextPath}/statics/plugins/laydate/laydate.js"></script> 
<script src="${request.contextPath}/statics/plugins/validate/jquery.validate.js"></script>
<script src="${request.contextPath}/statics/plugins/validate/validate-methods.js"></script>
<script src="${request.contextPath}/statics/plugins/validate/messages_zh.js"></script>
<script src="${request.contextPath}/statics/bootstrap/bootstrap-select.js"></script>
<script src="${request.contextPath}/statics/plugins/webuploader/js/dropzone.min.js"></script>
<!-- 引入elementui组件库 -->
<script src="${request.contextPath}/statics/element/index.js"></script>
<script src="${request.contextPath}/statics/js/common.js"></script>

<!-- 兼容 -->



<!--<script src="${request.contextPath}/statics/js/baber.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/js/polyfill.js"></script>-->
<!--<script src="${request.contextPath}/statics/js/borwerse.js"></script>-->
<!-- 引入样式 时刻保持最新-->
<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
&lt;!&ndash; 引入组件库 &ndash;&gt;
<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->



<script type="text/javascript">
var youchamapi = "";
//172.16.0.33 内网
//218.87.46.162
var userCenterApi = "http://218.87.46.162:8888/user-center";
var systemId = "3";

var jxeporteuApi = "http://localhost:8088/jiangxieport";

</script>

<script type="text/x-template" id="select2-template">
  <select>
    <slot></slot>
  </select>
</script>
 